.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.glow {
    
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00d0d0, 0 0 20px #00d0d0, 0 0 25px #00d0d0, 0 0 30px #00d0d0, 0 0 35px #00d0d0;
    animation: glow 1s ease-in-out infinite alternate;

}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #26ff00, 0 0 10px #26ff00, 0 0 15px #00d0d0, 0 0 20px #00d0d0, 0 0 25px #00d0d0, 0 0 30px #00d0d0, 0 0 35px #00d0d0;
  }
  to {
    text-shadow: 0 0 10px #26ff00, 0 0 20px #26ff00, 0 0 30px #00d0d0, 0 0 40px #00d0d0, 0 0 50px #00d0d0, 0 0 60px #00d0d0, 0 0 70px #00d0d0;
  }
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

 
.shadow {filter: drop-shadow(18px 18px 25px #00d0d0);}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
